<!doctype html>
<html>
    <head>
        <title>Swamp: Dashboard</title>
        <link rel="stylesheet" href="/styles/main.css" />

        <script type="text/javascript" src="<%= socketLibUrl %>"></script>
    </head>
    <body>
        Welcome to Swamp!
    </body>
</html>