language: node_js
node_js:
- '0.10'
before_script:
- npm install -g mocha
- npm install -g grunt-cli
- npm install -g https://github.com/uditalias/swamp/tarball/master
script:
- grunt test
after_success:
notifications:
  email:
  - udi.talias@gmail.com