# Systemd script. not working yet
[Unit]
Description=swamp - run, manage, and monitor processes
After=syslog.target

[Service]
Type=forking
#Type=simple
ExecStart=/usr/bin/swamp

[Install]
WantedBy=multi-user.target
