<!--

     ____    __      __  ______           ____
    /\  _`\ /\ \  __/\ \/\  _  \  /'\_/`\/\  _`\
    \ \,\L\_\ \ \/\ \ \ \ \ \L\ \/\      \ \ \L\ \
     \/_\__ \\ \ \ \ \ \ \ \  __ \ \ \__\ \ \ ,__/
       /\ \L\ \ \ \_/ \_\ \ \ \/\ \ \ \_/\ \ \ \/
       \ `\____\ `\___x___/\ \_\ \_\ \_\\ \_\ \_\
        \/_____/'\/__//__/  \/_/\/_/\/_/ \/_/\/_/

    Swamp is a tool for running, managing and monitoring processes. jump in!

    By Udi Talias (udi.talias@gmail.com)

    https://github.com/uditalias

    ---

    For forking, contributing, issues > https://github.com/uditalias/swamp

--><!doctype html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Swamp Connect</title><meta name="description" content=""><meta name="viewport" content="width=device-width"><link rel="icon" type="image/png" href="/assets/images/favicon.png?rev=2"><link rel="stylesheet" href="/styles/2ef24cb0.connect.main.css"></head><body><div class="connect-container"><header class="text-center"><h1 class="text-26 color-white">Swamp <span class="w200">Connect</span></h1></header><div class="spread flex flex-vbox flex-align-center flex-pack-center text-center" id="connect_form"><div class="margin-bottom-3"><div><span class="color-blue text-18" id="swamp_url"></span></div></div><div class="margin-bottom-1 width-max"><input class="text-16" type="text" id="swamp_username" placeholder="username" tabindex="1"></div><div class="width-max"><input class="text-16" type="password" id="swamp_password" placeholder="password" tabindex="2"></div></div><div class="spread color-white hidden" id="connecting"><div class="spread flex flex-align-center flex-pack-center text-20">Connecting...</div></div><div class="spread color-white hidden" id="error"><div class="spread flex flex-vbox flex-align-center flex-pack-center text-20"><div class="margin-bottom-2 color-yellow">Swamp failed to authenticate</div><div class="text-16"><a class="color-green" href="javascript:void(0)" id="try_again">Try Again</a> <span>or</span> <a class="color-red" href="javascript:void(0)" id="cancel">Cancel</a></div></div></div><footer id="connect_actions"><div class="flex flex-pack-center flex-align-end"><button class="btn btn-red btn-small margin-right-2 cursor-pointer" tabindex="4" id="cancel_btn"><div class="padding-left-3 padding-right-3 padding-top-1 padding-bottom-1">Cancel</div></button> <button class="btn btn-green btn-small cursor-pointer" tabindex="3" id="connect_btn" disabled><div class="padding-left-3 padding-right-3 padding-top-1 padding-bottom-1">Connect</div></button></div></footer><div class="rainbow flex"><div></div><div></div><div></div><div></div><div></div></div></div><script src="/scripts/30b9c05a.stream.vendor.js"></script><script src="/scripts/34329cc6.stream.scripts.js"></script><script>//<![CDATA[
  //]]></script></body></html>