<!--

     ____    __      __  ______           ____
    /\  _`\ /\ \  __/\ \/\  _  \  /'\_/`\/\  _`\
    \ \,\L\_\ \ \/\ \ \ \ \ \L\ \/\      \ \ \L\ \
     \/_\__ \\ \ \ \ \ \ \ \  __ \ \ \__\ \ \ ,__/
       /\ \L\ \ \ \_/ \_\ \ \ \/\ \ \ \_/\ \ \ \/
       \ `\____\ `\___x___/\ \_\ \_\ \_\\ \_\ \_\
        \/_____/'\/__//__/  \/_/\/_/\/_/ \/_/\/_/

    The tool for running, managing and monitoring multiple node.js services

    By Udi Talias (udi.talias@gmail.com)

    https://github.com/uditalias

    ---

    For forking, contributing, issues > https://github.com/uditalias/swamp

--><!doctype html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title></title><meta name="description" content=""><meta name="viewport" content="width=device-width"><link rel="stylesheet" href="/styles/291919da.vendor.css"><link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><link rel="stylesheet" href="/styles/1154d35b.main.css"></head><body ng-app="swamp" ng-class="{ 'footer-panel-open': footerOpen }" ng-controller="mainController"><div class="app-wrapper"><header ng-controller="headerController" ng-class="{ 'scrolled': handler.pageScrolled }" sw-scroll-state="" scroll-offset="40" on-page-scroll="onPageScrolled(state)" ng-include="'components/header/header.html'"></header><aside ng-controller="asideController" ng-include="'components/aside/aside.html'"></aside><div ui-view=""></div><footer ng-controller="footerController" ng-include="'components/footer/footer.html'"></footer></div><script src="/scripts/59d81ec5.vendor.js"></script><script src="/scripts/540f4426.scripts.js"></script><script src="/scripts/6e059172.templates.js"></script><script>//<![CDATA[
            var socketConnectionString = "<%= socketConnectionString %>";
        //]]></script></body></html>